<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quora | New Posts</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <div class="container text-center">
        <p class="p-5 display-2">Create New Post</p>
        <form action="./posts" method="post">
            <div class="mb-3" style="width: 50rem; margin: 0 auto;">
                <label for="username" class="form-label text-start d-block">Username</label>
                <input class="form-control" type="text" name="username" placeholder="Enter Username" id="username">
            </div>
            <div class="mb-3" style="width: 50rem; margin: 0 auto;">
                <label for="title" class="form-label text-start d-block">Title</label>
                <input class="form-control" type="text" name="title" placeholder="Enter Username" id="title">
            </div>
            <div class="mb-3" style="width: 50rem; margin: 0 auto;">
                <label for="content" class="form-label text-start d-block">Content</label>
                <textarea class="form-control" placeholder="Leave a comment here" id="content" name="content"
                    style="height: 30vh;"></textarea>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>

    </div>

</body>

</html>